@charset "utf-8";

#frame{
    /* width: 300px; */
    /* height: 600px; */
    margin: auto;
    text-align: center;
}

#cnv{
    border: 1px solid #000;
    /* width: 100%; */
    /* height: 400px; */
    margin: auto;
}
#controller{
    text-align: center;
}
#controller input{
    width: 40px;
    height:40px;
    margin: 5px;
}

@media screen and (max-width:600px) {
    #cnv{
        width: 100%;
    }
}